= form_for @timer, :html => { :class => 'form-horizontal' } do |f|
  - if @timer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timer.errors.count, "error")} prohibited this timer from being saved:"
      %ul
        - @timer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, :class => 'control-label'
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :minutes, :class => 'control-label'
    = f.text_field :minutes, :class => 'form-control'
  .form-group
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), timers_path, :class => 'btn'
